.panel.panel-primary
  .panel-heading
    EDIT
  .panel-body
    = bootstrap_form_for unit, url: organization_departament_unit_path(organization, departament, unit) do |f|
      = f.text_field :full_name
      = f.submit :class => "btn btn-primary"
      = link_to 'CANCEL', organization_departament_units_path(organization), :type=> "button", :class => "btn btn-danger"
